.DisplaySong {
    /*background-color: rgb(241, 241, 169);*/
    /*padding: 10px;*/
    /*background-image: url(../../nashad-abdu-lbuXprjhtc4-unsplash-cropped.jpg);*/
    /*background-color: rgb(48, 252, 48, 0.5);*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.songTitle{
   padding-top:10px;
   padding-bottom:5px;
   color: #c96a05;/*#1507F8;*/
   font-size: 3em;
   border-width: 100%;
}

.ReactPlayer {
    opacity: 1;
}

.App {
    background-size: cover;
}

@media ( min-width: 350px ) and ( max-width: 1023px ) {

    .ReactPlayer {
        width: auto; 
        height: auto; 
      }
      .react-player {
        padding-top: 56.25%; 
        position: relative;
        padding-bottom: 20px; 
      }
      
      .react-player > div {
        position: absolute;       
    }
}