

.App {
  text-align: center;
  /*background-color: rgb(241, 241, 169);*/
  background-image: url("nashad-abdu-lbuXprjhtc4-unsplash-cropped.jpg");
  background-size: cover;
  color: #FB8C14;/*#1507F8;*/
  position: absolute;
  height: 100%;
  width: 100%;
  font-family: Arial;
  /*display: flex;
  flex-direction: column;
  height: 100%;*/
}

.main{
  flex: 1 1 auto;
}

.App-header {
  background-color: #FAFF00;/* #21d830;*/
  opacity: .75;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: Arial;
  /*font-family: Swift;*/
  /*color:rgb(110, 147, 248); /*#d8c621;*/
  color: #FB8C14;/*#1507F8;
  /*#1507F8;*/
  border-style: none;
  border-color: none;
}

h2{
  color:#FB8C14;
}


