.App {
  text-align: center;
  /*background-color: rgb(241, 241, 169);*/
  background-image: linear-gradient( to bottom,transparent, rgb(241,241,269)), url("nashad-abdu-lbuXprjhtc4-unsplash-cropped.jpg");
  background-size: cover;
  color: rgb(170, 104, 5);/*#1507F8;*/
  position: absolute;
  height: 100%;
  width: 100%;
  font-family: Arial;
  /*display: flex;
  flex-direction: column;
  height: 100%;*/
}

.main{
  /*flex: 1 1 auto;*/
  background-image: linear-gradient(rgba(125, 243, 56, 0.4),rgb(125, 243, 56, 0.9) 25%, rgb(82, 153, 41));
}

.App-header {
  background-color: rgb(252, 248, 31, .5);/*#FAFF00;/* #21d830;*/
 /*opacity: .75;*/
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  font-family: Swift;
  /*font-family: Swift;*/
  /*color:rgb(110, 147, 248); /*#d8c621;*/
  color: #FB8C14;/*#1507F8;
  /*#1507F8;*/
  border-style: none;
  border-color: none;
}

h2{
  color:#FB8C14;
}


