@import "colors.css";

.NavigationBar{
    font-size:large;
    font-family: Swift;;
    background-color: rgb(131, 206, 250, .7);
    min-width: auto;
    min-height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;      
}

a {
    text-decoration: none;
    color: #058dcc;
    font-family: Arial;
    font-weight: 550;
    font-size: 1.5em;
    padding: 5px;
    margin: 5px;
}