@import "colors.css";

.NavigationBar{
    font-size:large;
    font-family: Swift;;
    background-color: rgb(131, 206, 250);
   /*#B7FF74;/*#7BFF00; /*#e7e5fe;
    /*rgb(206, 252, 206);/*rgb(47, 99, 167); /*rgb(4, 131, 42);*/
    min-width: auto;
    min-height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;      /*
    padding-top: 10px; */
}

a {
    text-decoration: none;
    color: #058dcc;
    /*#d8c621;
    /*font-family: Swift;*/
    font-family: Arial;
    font-weight: 550;
    font-size: 1.5em;
    padding: 5px;
    margin: 5px;
}