
p {
    color: black;   
}

#secondPoem {   
    margin-top: 20px;
}
h3:nth-child(2) {
    margin-top: 80px;
}

p {
    padding: 0;
    margin-top: 0;
    line-height: 1.25em;
}

@media screen and (min-width: 769px){
    .Poems {
        font-size: 1em;
        color: black;
        background-image: 
            linear-gradient(to right, transparent, rgb(127, 165, 180)),
            linear-gradient(to bottom, rgb(127, 165, 180, .1), rgb(127, 165, 180) 35%, rgb(133, 165, 180) 50%, rgb(127, 165, 180, .1)), url(michal-mrozek-butterfly-unsplash.jpg);      
        background-position: top, top, bottom; 
        background-size: contain, contain, contain;
        background-repeat: no-repeat;
        margin: 0;
        padding: 20px;
        padding-top: 80px;
        padding-bottom: 40px;
    }
}

@media screen and (max-width: 768px){   
        .Poems {
            font-size: 2em;
            color: black;
            background-image: 
            linear-gradient(to bottom, transparent, rgb(40, 120, 151, .9) 75%, transparent 90% ), linear-gradient(to bottom, rgb(78, 201, 250, .6), rgb(78, 201, 250) 20%, rgb(78, 201, 250) 65%, rgb(78, 201, 250, .5) 90%, rgb(78, 201, 250) ), url(michal-mrozek-butterfly-unsplash.jpg);
            background-position: top; 
            background-size: contain, contain;
            background-repeat: repeat;            
            padding: 30px;
            padding-top: 80px;
            padding-bottom: 40px;
        }           
}

@media screen and (max-width: 540px){
    .Poems {
        background-image: rgb(78, 201, 250);
        background-position: top;
        font-size: 1.5em;
    }
} 