.Poems {
    font-size: 1.5em;
    color: black;
    background-image: 
        linear-gradient(to right, transparent, rgb(127, 165, 180)),
        linear-gradient(to bottom, transparent, rgb(127, 165, 180));
        /*rgba(78, 201, 250, 0.8)); /*url("michal-mrozek-butterfly-unsplash.jpg");*/
    margin: 0;
    padding: 20px;
}
/*.App {
    background-size: contain;
}*/