.Profile{
   /* background-color: rgb(243, 243, 217);*/
    color: black;
    /*margin: 20px;*/ 
    padding: 20px;
    padding-bottom: 100px;
    margin-right: 200px;
    margin-left: 200px;
    border-style: hidden;
    justify-content: center;
    /*background-image: rgb(242, 254, 255, 0.5);*/
    /*border-radius: 15px;*/
    /*background-image: linear-gradient( rgb(48, 252, 48, 0.7),#6EE300)*/    
}

h1 {
    color: rgb(54, 212, 6);
    font-family: Swift;
}

h3, p {
    font-family: Arial; /*Inverserif Antipol futura;*/
}

.profile-container {
    background-color: white;
    margin: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 0px;
    /*max-width: 75%;*/
    border-style:groove;
    border-color:rgb(158, 188, 252);
    border-width: 1px;
    justify-content: center;
    text-align: center;
    box-shadow: 2.5px 5px 2.5px rgb(134, 154, 197);
}