.SongsContainer{
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 10px;
    display: flex;   
    flex-direction: column;
    justify-content: flex-start;
    color:rgb(11, 143, 143);
    /*background-image: linear-gradient( rgb(48, 252, 48, 0.7),#6EE300)*/
    /*linear-gradient( rgb(48, 252, 48, 0.5), rgb(48, 252, 48, 1));
    /*background-image: url(../../nashad-abdu-lbuXprjhtc4-unsplash.jpg);
    background-size: cover;
    opacity: 0.5;*/
   /* background-color: rgb(241, 241, 169);*/
   /*background-image: url("raja-natarajan-ymQlRqwLcUo-unsplash.jpg")*/
}

.ReactPlayer {
    opacity: 1;
}

.name{
    color: /*rgb(170, 104, 5);*/#FB8C14;
    border-width: 100%;
    font-size: 2em;
    /*border-bottom-style:ridge;*/  
}

h2{
    align-self: flex-start;
    text-align: left;
    padding: 10px;
    margin-bottom: 40px;
    margin-top: 50px;
}